.parent_everyBlock {
  width: 700px;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin: 10px auto;
  background-color: rgb(201, 67, 130);
  border-radius: 8px;
}

.parent_everyBlock p {
  font-size: 18px;
  font-weight: 600;
}

.parent_everyBlock input {
  width: 35px;
}

.active {
  text-decoration: line-through;
  font-size: 20px;
  color: rgb(18, 37, 137);
}

input:checked .parent_everyBlock {
  background: #0d951b;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}